$YB_PRIMARY_ORANGE: #FF6E42;

$WHITE_TEXT: #fff;
$WHITE_BG: $WHITE_TEXT;
$PRIMARY_ACCENT: #741782;
$SECONDARY_ACCENT: #FE9513;

$BUTTON_PRIMARY_ACCENT: #07159f;
$BUTTON_SECONDARY_ACCENT: #01054a;

$LIGHT_ORANGE_BG: #efccb8;