.modal-background {
    // background-color: rgb(0, 0, 0);
    background: rgba(33, 33, 33, 0.5);    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    .modal {
        margin: 15% auto;
        padding: 35px;        
        width: 0;
        min-height: 10px;
        background: #FFFFFF;
        opacity: 1;
        position: relative;
        transition: min-height 0.3s ease-out, height 0.3s, width 0.3s;

        > * {
            display: none;
        }

        .speaker-list {
            margin: 20px 0;
            font-size: 16px;
        }
        p.text {
            text-align: left;
            font-weight: 400;
        }
        
        .modal-close {
            position: absolute;
            z-index: 1;
            top: -25px;
            right: -25px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: #35383d url(../../assets/images/modal-icon-close.svg) no-repeat center center;
            overflow: hidden;
            text-indent: 100%;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                background-color: #1c1e21;
            }
        }
    }

    .modal.expand {
        min-height: 500px;
        width: 550px;
        height: auto;
    }

    .modal.expand.visible {
        > * {
            display: block;
            visibility: visible;
        }
    }


    @include breakpoint(small) {
        .modal.expand {
            width: 100%;
            height: 100%;
            top: 0;
            margin: 0;
            padding: 60px 30px;

            h3 {
                font-size: 28px;
            }
            .speaker-list {
                font-size: 18px;
            }

            p.text {
                font-size: 20px;                
            }

            .modal-close {
                top: 20px;
                right: 5%;
                background: rgba(0,0,0,.3) url(../../assets/images/modal-icon-close.svg) no-repeat center center;

                &:hover {
                    background-color: rgba(0,0,0,.5);
                }
            }
        }
    }
}
