.speaker {  	
    .profile {
        text-align: center;

        .speakerImage {
            margin: 0 auto;
             
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                object-position: top center;
                border-radius: 50%;
            }
        }

        .speakerProfile {						
            .profileName {
                font-weight: 700;
                font-size: inherit;
                color: #141920;				
            }
            					
            .profileBio {
                font-size: inherit;
                font-weight: 400;
                line-height: 1.45;
                color: #141920;
                
                .company {
                    font-weight: 900;
                    color: #141920;
                }
            }
        }
    }

    .profile.horizontal {
        display: flex;
        .speakerImage {
            margin: 0;
        }
        .speakerProfile {
            margin-left: 1em;
            text-align: left;
        }
    }

    &.small {
        .profile {
			.speakerImage {
                width: 4.5em;
				height: 4.5em;
            }

            .profileBio {
                .company {
                    font-weight: 400;
                }
            }
        }
    }		
}


@media (min-width: 1070px) {
	.speaker {
	    margin-right: 0.6em;
        margin-bottom: 0.85em;
        
        .profile {
            .speakerImage {
                width: 7.6em;
                height: 7.6em;
            }
        }
	}
}

@media screen and (max-width: 1070px) {
	.speaker {
		margin-right: 15px;
		margin-left: 15px;
		margin-bottom: 40px;
		.profile
		{
			.speakerImage
			{
				width: 128px;
				height: 128px;
			}
		}
	}
}