/* Topics */
aside.topics {
    float: right;
    width: 430px;
    text-align: left; 
    margin-left: 30px;  
    
    &.mobile {
        display: none;
    }

    header {
        background: #EEF1FA;
        padding: 30px 40px 30px 50px;
        border-radius: 7px 7px 0 0;
        
        h3 {
            color: #141920;
            font-size: 22px;
            font-weight: 600;
            margin: 0;
        }
    }

    .topics__content {
        padding: 30px 40px 30px 50px;
        background: #FFFFFF;
        box-shadow: 0 9px 0px 0px #EEF1FA, 0 -9px 0px 0px #EEF1FA, 5px 0 15px -4px #eeeeee, -5px 0 15px -4px #eeeeee;

        h3 {
            color: #FF6E42;
            font-size: 22px;
            font-weight: 600;
            margin: 0;
        }

        li, p {
            font-size: 20px;
            font-weight: 400;
            color: #141920;
        }

        .topics__caption strong {
            color: #141920;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .topics__archive {
        background: #EEF1FA;
        padding: 40px 40px 40px 50px;
        border-radius: 0 0 7px 7px;
    }
}

@include breakpoint(small) {
    aside.topics {
        display: none;
    }

    aside.topics.mobile {
        display: block;
        float: unset;
        width: auto;
        margin: 0 30px 50px;
    }

    header.major {
        margin: 0 auto 30px;

        h2 {
            font-size: 48px;
        }
    }
}

@include breakpoint(xsmall) {    
    aside.topics.mobile {
        width: 100%;
        margin: 0 0 50px;
    }
    
    aside.topics {
        header, .topics__content {
            padding: 30px 20px 30px 40px;

            li, p {
                font-size: 16px;
            }
        }

        .topics__archive {
            padding: 40px 0 40px;        
            text-align: center;
        }
    }
    header.major {
        h2 {
            font-size: 36px;
        }
    }
}

#register-form {
    min-height: 500px;
    position: relative;
    background: #fff;
    padding-bottom: 55px;

    .register--aside {
        background: transparent linear-gradient(142deg, #AFBAF9 0%, #CA73FF 100%) 0% 0% no-repeat padding-box;
        margin-left: auto;
        width: 700px;
        margin-top: -316px;
        padding: 90px 65px;
        min-height: 600px;

        input {
            background: #e8dafe;
            border-radius: 7px;
            color: #141920;
            width: 100%;
            margin-bottom: 46px;
            border: none;
            font-weight: 400;
            font-size: 22px;
            height: 70px;
            padding: 20px 30px;
            
            &::-webkit-input-placeholder {
                color: #141920;

              }
              &::-moz-placeholder {
                color: #141920;
              }
              &:-ms-input-placeholder {
                color: #141920;
              }
              &:-moz-placeholder {
                color: #141920;
              }
        }

        button[type="submit"] {
            margin-top: 10px;
        }

        &.confirmation {
            color: #FFFFFF;
            padding: 96px 93px 60px;

            svg {
                fill: #FFFFFF;
            }

            .thank-you-note {
                color: inherit;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 10px;
            }

            h2 {
                color: inherit;
                font-size: 70px;
                font-weight: 500;
                line-height: 1.1;
            }

            .reminder {
                color: inherit;
                font-size: 30px;
                font-weight: 400;
                margin: 40px 0 15px;
            }

            .event {
                border-radius: 7px;
                background: #e8dafe;
                padding: 21px 30px 24px;
                display: flex;
                align-items: center;
                cursor: pointer;
                
                .event-details {
                    color: #141920;

                    &:hover {
                        color: #F75821;
                    }
                    small {
                        font-weight: 700;
                        font-size: 18px;
                    }

                    .event-title {
                       font-size: 22px;
                       font-weight: 400; 
                    }   
                }

                @keyframes fadeIntoView {
                    0% {
                      opacity: 0;
                    }
                    100% {
                      opacity: 1;
                    }
                }
                  
                  
                .calendar-icon {
                    color: #030443;
                    margin-left: auto;
                    background: #FFFFFF;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    padding: 5px 14px;
                    font-size: 23px;
                    
                    > * {
                        transition: opacity 2s ease-in-out all;
                    }
                }
            }

            .social-media {
                justify-content: left;
                display: flex;
                font-size: 28px;

                li {
                    padding: 0 0.5em 0 0;
                }
            }
        }
    }

    @include breakpoint(medium) {
        .register--aside {
            margin-top: -186px;
        }
    }

    @include breakpoint(small) {
        .register--aside {
            margin-top: 50px;
            width: 100%;
        }
    }

    @include breakpoint(xsmall) {
        .register--aside {
            padding: 50px 36px;

            input {
                height: 46px;
                padding: 10px 22px;
                margin-bottom: 30px;
                font-size: 14px;
            }
        }

        .register--aside.confirmation {
            padding: 60px 45px 60px;

            .thank-you-note {
                font-size: 23px;
            }

            h2 {
                font-size: 42px;
                line-height: 1.4;
            }

            .reminder {
                font-size: 21px;
                margin: 30px 0 15px;
            }

            .event .event-details {                
                small {
                    font-size: 14px;
                }
                .event-title {
                    font-size: 16px;
                }
            }
        }
    }
}