#footer-banner {
  text-align: center;

  .inner {
    min-height: 700px;
    h1 {
        font-size: 1.6875em;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 500;
        color: #fff;
    }


    h2 {
      font-size: 18px;
      font-family: _font(family);
      font-weight: _font(weight);
      color: _palette(bg);
      padding-left: 20px;
    }

    .actions {
      padding-top: 20px;
      .bannerButton
      {
        background-color: #fff;
        color: #34337f;
        font-family: _font(family-fixed);
        font-size: 24px;
        font-weight: _font(weight-bold);
        text-transform: capitalize;
        letter-spacing: _font(letter-spacing-normal);
        line-height: _font(line-height);
        height: auto;
        box-shadow: inset 0 0 0 2px _palette(bg);
        padding: 14px 30px;
        padding-right: 4.5em;
        border-radius: 40px;
        &:hover, &:active {
          box-shadow: inset 0 0 0 2px _palette(highlight);
          color: _palette(highlight);
        }
        &:before {
          background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36px" height="24px" viewBox="0 0 36 24" zoomAndPan="disable"><style>line { stroke: #{_palette(fg-btn-bold)}; stroke-width: 2px; }</style><line x1="0" y1="12" x2="34" y2="12" /><line x1="25" y1="4" x2="34" y2="12.5" /><line x1="25" y1="20" x2="34" y2="11.5" /></svg>');
        }
        &.next {
          padding-right: 4em;
          position: relative;

          &:before, &:after {
            right: 30px;
          }
        }
      }
    }
  }
}
