#footer-banner {
  text-align: center;
  background: #EEF1FA;
  padding: 70px 0;

  .container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
  }

  .distributedsql-text {
    max-width: 686px;
    padding: 0;
    text-align: left;

    h1 {
        font-size: 60px;
        font-weight: 500;
        color: #000041;
        margin-bottom: 10px;
    }

    .content {
      color: #141920;
      font-size: 22px;
      font-weight: 400;

      .learn-more {
        padding-left: 4px;
        font-weight: 600;
        cursor: pointer;

        &:after {
          content: "\f0da";
          font-family: 'FontAwesome';
          font-weight: 900;
          color: #FF6E42;
          margin-left: 4px;
        }
      }

      .learn-more:hover:after{
        margin-left: 8px;
      }
    }

    .actions {
      padding-top: 20px;

      > h4 {
        color: #141920;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 23px;
      }
    }
  }

  .value-props {
    display: flex;
    flex: 0 1 500px;
    flex-wrap: wrap;
    height: 100%;
    padding-top: 24px;

    .value-props__item {
      flex: 1 0 50%;
      text-align: center;
      margin-bottom: 30px;

      .icon {
        width: 102px;
        height: 102px;
        margin: 0 auto;
      }

      h4 {
        color: #141920;
        font-size: 16px;
        font-weight: 600;
        margin-top: 15px;
      }
    }
  }

  @media screen and (max-width: 980px) {
    .actions {
      li {
        padding: 0 10px;
        margin-bottom: 10px;
      }
    }
  }

  @include breakpoint(small) {
    .container {
      display: block;
    }
    .value-props {
      justify-content: space-evenly;

      .value-props__item {
        flex: 1 1 150px;
      }
    }
    .distributedsql-text {
      margin: 0 auto;
      max-width: 80%;

      h1 {
        font-size: 48px;
      }

      .actions {
        text-align: center;
      }
    }
  }

  @include breakpoint(xsmall) {
    .distributedsql-text {
      h1 {
        font-size: 36px;
        text-align: center;
      }
    }
  }
}
